
.tickets-form {
    width: 400px;
    height: 400px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 8px;
  
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
  
      h1 {
        font-size: 24px;
        margin: 0;
      }
  
      span {
        cursor: pointer;
        padding: 4px;
        border-radius: 4px;
        background-color: whitesmoke;
        border: 1px solid #000000;
        transition: background-color 0.3s;
  
        &:hover {
          color: white;
          background-color: rgb(180, 6, 6);
        }
      }
    }
  
    &__content {
      margin-bottom: 20px;
  
      input,
      select,
      label {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #00ced1;
        padding: 8px;
        border-radius: 4px;
  
        &:focus {
          outline: none;
          border-color: #dddddd;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        }
      }
    }
  
    &__footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 20px;
  
      button {
        margin-left: 10px;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
  