$header-color: black;
$header-background-color: white;

$dark-header-color: white;
$dark-header-background-color: #333333;

.header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;

    &__menu {
        display: flex;
        list-style: none;

        &-link {
            margin: 0 15px;

            a {
                color: $header-color;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;

                &.active {
                    text-decoration: underline;
                    color: skyblue;
                }
            }
        }
    }
}

.header__title {
    font-size: 24px;
    font-weight: bold;
}

.light-theme {
    background-color: $header-background-color;

    .header__menu-link a {
        color: $header-color;

        &.active {
            color: skyblue;
        }
    }
}

.dark-theme {
    background-color: $dark-header-background-color;

    .header__menu-link a {
        color: $dark-header-color;

        &.active {
            color: skyblue;
        }
    }
}


